<li class="col-md-1"><form class="col-md-5 newReg" ng-submit="indexCtrl.submitSignUpAct(addUser)">
    <input type="text" ng-model="addUser.signUpEmail" class="col-lg-12" placeholder="Enter Email">
    <input type="text" ng-model="addUser.signUpPassword" class="col-lg-12" placeholder="Enter Password">
    <input type="text" ng-model="addUser.signUpPasswordConfirmation" class="col-lg-12" placeholder="Confirm Password">
    <button type="submit" class="col-lg-md-5 col-md-5 col-sm-5">Register</button>
  </form>
</li>