<div class="container">
<div class="jumbotron row consumerIntro col-lg-12 col-md-12 col-sm-12">
    <h1>Welcome, locavores.</h1>
    <h3>and everyone who loves them!</h3>
    <p>Farmstand was made to support the little guys. A place where locally owned producers can network with local restaurants and consumers for locally produced items. </p>
    <p></p>
<div class="col-lg-4 col-md-4 col-sm-6 joinUs">
    <h1>Join!</h1>
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="#/register" role=" button">Register</a></p>
  </div>
</div>
<div class="googleMaps" ng-controller="GoogleMapsController as mapCtrl">
<input ng-model="query" type="text" Placeholder="Search">
    <h3>Network Members near you:</h3>
        <ui-gmap-google-map class="col-lg 5 col-md-5 col-sm-5" center='map.center' zoom='map.zoom'>
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>
