<div class="container">
<div class="jumbotron row prodIntro">
  <h1>Welcome, local growers.</h1>
  <h3>and everyone who loves them!</h3>
  <p>Farmstand was made to support the little guys. A place where locally owned producers can network with local restaurants and consumers for locally produced items. </p>
  <section id="growers" class="col-lg-8 col-md-8 col-sm-8">
    <h2>Our Network of local Eateries: </h2>

     <input id="queryBox" ng-model="query" type="text" name="searchbox" placeholder="FILTER RESULTS">
    <article class="listings" ng-repeat="producer in farmCtrl.producers  | orderBy: 'name'| filter:query" class="col-lg-8 col-md-8 col-sm-12">
    <img ng-src="{{producer.photo}}">
    <h3><a href="#/farmers/{{producer._id}}">{{producer.name}}  <i class="fa fa-chevron-right"></i></a></h3>
    <h4>{{producer.location}}</h4>
    </article>
  
</section>
<div class="col-lg-4 col-md-4 col-sm-6 joinUs">
  <h1>Join!</h1>
  <p></p>
  <p><a class="btn btn-primary btn-lg" href="#/register" role="button">Join our Network!</a></p>
</div>
</div>

</div>