<button data-ng-click="submitLogoutAct()">Log Out</button>

<div class="container splash">
  <div class="background col-lg-12 col-md-12 col-sm-12">
<div class="container col-lg-12 col-md-12 col-sm-12">

  <div class="col-lg-10 col-md-11 col-sm-12">
    <div class="splash">
    <a href="#/restaurant"><img id="chef" class="col-lg-7 col-md-7  col-sm-7" src="assets/sassyChef.jpg" alt=""></a>
    <img  id="carrots" src="assets/carrots.jpg" class="col-lg-4 col-md-4 col-sm-4" alt="">
    <img id="celery" class="col-lg-5 col-md-5 col-sm-5"  src="assets/celery.jpg" alt="" >
    <a href="#/farmers"><img id="tractor" class="col-lg-6 col-md-6 col-sm-6" src="assets/tractor.jpg" alt=""></a>
    <img id="cabbage" class="col-md-12 col-lg-12 col-sm-12"src="assets/cabbage.jpg" alt="">
    <a href="#/contact"><img id="swede" src="assets/swedish-chef.jpg" alt=""></a>
    </div>
    <a href="" id="sign"><img class="col-lg-12 col-md-12 col-sm-12" src="assets/farmerMarketSign.png" alt=""></a>
  </div>
</div>
</div>
  </div>
