<div class="container">
<div class="jumbotron row restIntro">
  <h1>Welcome, local restaurants!</h1>
  <h3>and everyone who loves them!</h3>
  <p>Farmstand was made to support the little guys. A place where locally owned producers can network with local restaurants and consumers for locally produced items. </p>
  <p></p>
  <section id="restaurants" class="col-lg-8 col-md-8 col-sm-8">
		<div class="category"><h2>Our Network of local Eateries: </h2>
		 <input id="queryBox" ng-model="query" type="text" name="searchbox" placeholder="FILTER RESULTS">
		 </div>
		<article class="listings col-lg-6 col-md-6 col-sm-12" ng-repeat="restaurant in restCtrl.restaurants| orderBy: 'name'| filter:query">
		<h3><a href="#/restaurant/{{restaurant._id}}">{{restaurant.name}}  <i class="fa fa-chevron-right"></i></a></h3>
		<h4>{{restaurant.location}}</h4>
		<img ng-src="{{restaurant.photo}}">
		</article>

</section>
<div class="col-lg-4 col-md-4 col-sm-6 joinUs">
  <h1>Join!</h1>
  <p></p>
  <p><a class="btn btn-primary btn-lg registerRest" href="#/register" role="button">Register!</a></p>
</div>
</div>
<div class="googleMaps" ng-controller="GoogleMapsController as mapCtrl">
<input ng-model="query" type="text" Placeholder="Search">
    <h3>Network Members near you:</h3>
<ui-gmap-google-map class="col-lg 5 col-md-5 col-sm-5" center='map.center' zoom='map.zoom'>
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>

</div>
