<div class="container">
<div class="jumbotron row prodIntro">
  <h1>Welcome, Farmers.</h1>
  <h3>and everyone who loves them!</h3>
  <p>Farmstand was made to support the little guys. A place where locally owned producers can network with local restaurants and consumers for locally produced items. </p>
  <p></p>
</div>
<section>
	<ul>
		<li ng-repeat="producer in farmCtrl.producers" class="col-lg-8">
			<a class="btn btn-primary btn-lg" href="#" role="button" ng-click="farmCtrl.getProducers">View local producers</a>
		</li>
	</ul>
</section>
<div class="col-md-4 row">
  <h1>Start selling!</h1>
  <p></p>
  <p><a class="btn btn-primary btn-lg" href="#/login" role="button">Join us to start selling!</a></p>
</div>
</div>