<div class="container">
<div class="jumbotron row prodIntro">
  <h1>Welcome, local growers.</h1>
  <h3>and everyone who loves them!</h3>
  <p>Farmstand was made to support the little guys. A place where locally owned producers can network with local restaurants and consumers for locally produced items. </p>
  <p></p>
  <section id="growers" class="col-lg-8 col-md-8 col-sm-8">
	<ul class="col-lg-12 col-md-12 col-sm-12">
		<h2>Our Network of local Growers: </h2>
		 <input ng-model="query" type="text" name="searchbox" placeholder="filter results">
		<li ng-repeat="producer in farmCtrl.producers  | orderBy: 'name'| filter:query as results" class="col-lg-8 col-md-8 col-sm-12">
			<h3>{{producer.name}}</h3>
			<h4>{{producer.location}}</h4>
		</li>
	</ul>
</section>
<div class="col-lg-4 col-md-4 col-sm-6 joinUs">
  <h1>Join!</h1>
  <p></p>
  <p><a class="btn btn-primary btn-lg" href="#/login" role="button">Join us to start selling!</a></p>
</div>
</div>

</div>