<div class="container">
<h2>{{mainCtrl.SingleMember.name}}</h2>
</div>
<form ng-submit="mainCtrl.editProfile(mainCtrl.SingleMember)">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="fruits" ng-model="mainCtrl.SingleMember.product"> Fruits
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="vegetables" ng-model="mainCtrl.SingleMember.product2"> vegetables
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="herbs" ng-model="mainCtrl.SingleMember.product3"> Herbs
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="squash" ng-model="mainCtrl.SingleMember.product4"> squash
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="taters" ng-model="mainCtrl.SingleMember.product5"> potatoes
    </label>
  </div>
		</div>
    <label for="">Name</label>
    <input type="text" ng-model="mainCtrl.SingleMember.name">
    <label for="">Location</label>
    <input type="text" ng-model="mainCtrl.SingleMember.location">
    <label for="">Email</label>
    <input type="text" ng-model="mainCtrl.SingleMember.email">
    <label for="">Photo</label>
    <input type="url" ng-model="mainCtrl.SingleMember.photo">
    <label for="">Website</label>
    <input type="url" ng-model="mainCtrl.SingleMember.website">
    <label for="">Description</label>
    <textarea name="description" id="" cols="30" rows="10" ng-model="mainCtrl.SingleMember.description"></textarea>
    <button action="submit">Save Changes</button>
	</form>
</div>