<form ng-show="new" class="col-md-5" ng-submit="farmCtrl.getSingleProducer(newProducer)">
    <input type="text" ng-model="newProducer.name" class="col-lg-12" placeholder="Name">
    <input type="text" ng-model="newProducer.location" class=" col-lg-12" placeholder="Location">
    <input type="text" ng-model="newProducer.description" class="col-lg-12" placeholder="Description">
    <input type="url" ng-model="newProducer.website" class="col-lg-12" placeholder="website">
    <input type="text" ng-model="newProducer.email" class="col-lg-12" placeholder="email">
  <button type="submit" class="">Register Producer</button>
</form>