
	<form action="" ng-submit="mainCtrl.addComment(newComment)" class="col-lg-3 col-md-9 col-sm-12 feedbackForm">
		<h2>Thanks for taking a look at VeggieTables! </h2>
		<h4>This application was designed and built as a capstone project for The Iron Yard Charleston Academy-2015. Please use the form below to let us know what you think!</h4></p>

			<h3>Leave us a note:</h3>
			<label for="">Rate our app!</label>
			<select name="" id="" ng-model="newComment.AppRating" class="col-lg-6 col-md-7 col-sm-10"></label>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
			<input type="text" ng-model="newComment.authorName" placeholder="Your name *optional"  class="col-lg-8 col-md-8 col-sm-12">
			<input type="text" ng-model="newComment.authorEmail" placeholder="e-mail *optional" class="col-lg-8 col-md-8 col-sm-12">
			<textarea name="" id="" cols="30" rows="5" ng-model="newComment.comments" placeholder="let us know what you think, or if you have any helpful suggestions about our application." class="col-lg-8 col-md-8 col-sm-12"></textarea>
			<p><button class="col-lg-6 col-md-5 col-sm-8 feedbackBtn">Submit</button></p>
		</form>
	<div class="developers"> 
		<span class="meetUs"><h2>MEET THE DEVELOPERS: </h2></span>
	  <section id="valerie" class="col-lg-4 col-md-4 col-sm-6">
		<p><h2>Valerie Harvey</h2></p>
		<p><h4>Front-end Engineer</h4></p>
		<img src="" alt="">
		<p><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile"><i class="fa fa-linkedin-square fa-3x"></i></a></p>
 	  </section>
 	  
 	  <section id="jackie" class="col-lg-4 col-md-4 col-sm-6">
 	  	<p><h2>Jackie Tremblay</h2></p>
		<p><h4>Ruby on Rails Engineer</h4></p>
		<p><a href="http://www.linkedin.com/pub/jackie-tremblay/7/9ba/320/en"><i class="fa fa-linkedin-square fa-3x"></i></a></p>
 	  </section>
	</div>
	