<div class="container">
<h2>{{mainCtrl.SingleMember.name}}</h2>
</div>
<form ng-submit="mainCtrl.editProfile(mainCtrl.SingleMember)">
		<label for="">Name</label>
		<input type="text" ng-model="mainCtrl.SingleMember.name">
		<label for="">Location</label>
		<input type="text" ng-model="mainCtrl.SingleMember.location">
		<label for="">Email</label>
		<input type="text" ng-model="mainCtrl.SingleMember.email">
		<label for="">Photo</label>
		<input type="url" ng-model="mainCtrl.SingleMember.photo">
		<label for="">Website</label>
		<input type="url" ng-model="mainCtrl.SingleMember.website">
		<label for="">Description</label>
		<textarea name="description" id="" cols="30" rows="10" ng-model="mainCtrl.SingleMember.description"></textarea>
		<button action="submit">Save Changes</button>
	</form>
</div>