body {
	color: #D1B39C;
	margin: 0;
	padding: 0;
	background-image: url('background-barn-wood.jpg');
	background-size: cover;
}

header{ height:100px;}

.concept {
	height: 400px;
	overflow: scroll;
	width: 75%;
	background: white;
	color: black ;
	margin: 0 12% 0 12%;
}
.colors {
	color: white;
}

.colors li {
	display: inline-block;
	list-style-type: none;
}

#color1 {
	color: white;
	height: 200px;
	width: 200px;
	background-color: #2F252C;
}

#color2 {
	color: white;
	height: 200px;
	width: 200px;
	background-color: #A62D1B;
}
#color3 {
	color: white;
	height: 200px;
	width: 200px;
	background-color: #49692C;
}
#color4 {
	color: white;
	height: 200px;
	width: 200px;
	background-color: #ADC240;
}
#color5 {
	color: white;
	height: 200px;
	width: 200px;
	background-color: #DBCC37;
}
#color6 {
	color: white;
	height: 200px;
	width: 200px;
	background-color: #54483F;
}















