$basil: #49692c;
$celery: #adc240;
$lemon: #dbcc37;
$earth: #54483f;
$tomato: #a62d1b;
$eggplant: #2f2526;

body {
	margin: 0;
	padding: 0;
	color: $earth;
}

header {
	margin: 0;
	padding: 0;
	background: $eggplant;
	color: $celery;
	h1{
	margin: 0;
	padding: 0;
   }
}
.splash img{
	height: 400px;
	margin: 0;
	padding: 0;
	display: inline-block; 
}
ul{
	margin: 0;
	padding: 0;
}
li{
margin: 0;
padding: 0;
list-style-type: none;
	a{
 display: inline-block;
	}
}
