<div class="container">
    <h2>{{restCtrl.SingleRestaurant.name}}</h2>
    <h3>{{restCtrl.SingleRestaurant.location}}</h3>
<form ng-submit="mainCtrl.editProfile(mainCtrl.SingleMember)">
  <div class="checkbox">
  <h2>Producer: Growing Seasons</h2>
    <label>
      <input type="checkbox" value="Spring" ng-model="mainCtrl.SingleMember.product"> Spring
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="vegetables" ng-model="mainCtrl.SingleMember.product2"> Summer
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="herbs" ng-model="mainCtrl.SingleMember.product3"> Fall
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="squash" ng-model="mainCtrl.SingleMember.product4"> Winter
    </label>
  </div>
<h2>Items Produced</h2>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="fruits" ng-model="mainCtrl.SingleMember.product"> Fruits
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="vegetables" ng-model="mainCtrl.SingleMember.product2"> vegetables
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="herbs" ng-model="mainCtrl.SingleMember.product3"> Herbs
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="squash" ng-model="mainCtrl.SingleMember.product4"> squash
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="taters" ng-model="farmCtrl.SingleProducer.product5"> potatoes
    </label>
  </div>
    <form ng-show="new" class="col-md-5 newReg" ng-submit="restCtrl.singleRestaurant(newRestaurant)">
    <input type="text" ng-model="newRestaurant.name" class="col-lg-12" placeholder="Name">
    <input type="text" ng-model="newRestaurant.address" class=" col-lg-12" placeholder="Street Address">
    <input type="text" ng-model="newRestaurant.city" class=" col-lg-12" placeholder="City">
    <input type="text" ng-model="newRestaurant.state" class=" col-lg-12" placeholder="State">
    <input type="text" ng-model="newRestaurant.zipcode" class=" col-lg-12" placeholder="Zip Code">
    <input type="url" ng-model="newRestaurant.website" class=" col-lg-12" placeholder="Website">
    <input type="text" ng-model="newRestaurant.email" class="col-lg-12" placeholder="e-mail">
  <button type="submit" class="col-lg-md-5 col-md-5 col-sm-5">Register</button>
</form>
  </form>
    </div>
</div>
</div>