<div class="developers">

	<p>
		<h3>Thanks for taking a look at Farmstand! This application was designed and built as a capstone project for The Iron Yard Charleston Academy-2015. </h3>
	</p>

	<h1>Meet the developers:</h1>

	<div class="jumbotron valerie col-md-5">
		<p><h2>Valerie Harvey</h2></p>
		<p><h3></h3></p>
		<img src="" alt="">
		<p><a href="http://valkharvey.com"></a></p>
		<p><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">Linked In</a></p>
	</div>

	
	<div class="jumbotron jackie col-md-5">
		<p><h2>Jackie Tremblay</h2></p>
		<p><h3>Insert bio here.</h3></p>
		<img src="" alt="">
		<p><a href="http://www.linkedin.com/pub/jackie-tremblay/7/9ba/320/en">LinkedIn</a></p>
	</div>

	

</div>