<div class="developers">

	<p>
		<h3>This application was designed and built as a capstone project for The Iron Yard Charleston Academy-2015. </h3>
	</p>

	<h1>Meet the developers:</h1>

	<div class="jumbotron valerie col-md-5">
		<p><h2>Valerie Harvey</h2></p>
		<p><h3>Insert bio here.</h3></p>
		<img src="" alt="">
		<p><a href="http://valkharvey.com"></a>Portfolio site</p>
		<p><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile"><i class="fa fa-linkedin-square"></i></a></p>
	</div>

	
	<div class="jumbotron jackie col-md-5">
		<p><h2>Jackie Tremblay</h2></p>
		<p><h3>Insert bio here.</h3></p>
		<img src="" alt="">
		<p><a href="http://www.linkedin.com/pub/jackie-tremblay/7/9ba/320/en"><i class="fa fa-linkedin-square"></i></a></p>
	</div>
	<div class="feedback">
		<h2>Thanks for taking a look at VeggieTables! </h2>
		<p><h3>Let us know what you think!</h3></p>
		<form action="" ng-submit="">
			<input type="text" ng-model="newComment.authorName" placeholder="Your name *optional">
			<input type="text" ng-model="newComment.authorEmail" placeholder="e-mail *optional">
			<label for="">Rate our app!</label>
			<select name="" id="" ng-model="newComment.AppRating">
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
			<textarea name="" id="" cols="30" rows="10" ng-model="newComment.comments" placeholder="let us know what you think..."></textarea>
			<button>Submit</button>

		</form>

	</div>

	

</div>