
	<div class="developers"> 
		<h1>Meet the developers:</h1>
	  <section id="valerie" class="col-lg-5 col-md-5 col-sm-12 row">
		<p><h2>Valerie Harvey</h2></p>
		<img src="" alt="">
		<p><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile"><i class="fa fa-linkedin-square fa-3x"></i></a></p>
 	  </section>
 	  <section id="jackie" class="col-lg-5 col-md-5 col-sm-12 row">
 	  	<p><h2>Jackie Tremblay</h2></p>
		<img src="" alt="">
		<p><a href="http://www.linkedin.com/pub/jackie-tremblay/7/9ba/320/en"><i class="fa fa-linkedin-square fa-3x"></i></a></p>
 	  </section>
	</div>
	
	<div class="feedback col-lg-12 col-md-12 col-sm-12">
		<h2>Thanks for taking a look at VeggieTables! </h2>
		<h3>This application was designed and built as a capstone project for The Iron Yard Charleston Academy-2015. Please use the form beloe to let us know what you think!</h3></p>
		<form action="" ng-submit="mainCtrl.addComment(newComment)">
			<input type="text" ng-model="newComment.authorName" placeholder="Your name *optional">
			<input type="text" ng-model="newComment.authorEmail" placeholder="e-mail *optional">
			<label for="">Rate our app!</label>
			<select name="" id="" ng-model="newComment.AppRating">
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
			<textarea name="" id="" cols="30" rows="10" ng-model="newComment.comments" placeholder="let us know what you think, or if you have any helpful suggestions about our application."></textarea>
			<button>Submit</button>
		</form>

	</div>

	

</div>