<div class="jumbotron joinUs">
	<h1>Join Us! </h1>
	<p><h3>If you are interested in joining us, please see the different categories below. <a href="#/contact">Contact us</a> with any questions or problems with your registration. </h3></p>
	<p><h3>We look forward to working with you!</h3></p>
</div>
<section class="registerRestaurant col-md-4">
	<p><h2>Are you a locavore?</h2></p>
	<p> <h3>Definition: one who eats foods grown locally whenever possible). </h3></p>
	<p>Great! We share your passion. We know it's important for the environment, the economy and health to support locally grown produce. By Joining Farmstand, you'll be able to network with local growers for fresh, seasonal produce. Get the inside scoop on what will be available when from your favorite growers and reserve product ahead of time for convenient pickup at your local farmer's market! (We know you shop there anyway...)</p>
	<p>Oh, and we almost forgot! We also network with restaurants who are passionate about local food as well. Check out our restaurant members.</p>	
	<button type="" class="btn btn-default">Join as a Consumer</button>
<form class="navbar-form navbar-left signUp col-md-5" role="search">
  <div class="form-group">
    <input type="text" class="form-control col-lg-12" placeholder="Name">
    <input type="text" class="form-control col-lg-12" placeholder="Location">
    <input type="text" class="form-control col-lg-12" placeholder="Description">
    <input type="url" class="form-control col-lg-12" placeholder="website">
    <input type="text" class="form-control col-lg-12" placeholder="email">
  </div>
  <button type="submit" class="btn btn-default">Restaurant</button>
</form>
</section>
 

<section class="registerProd col-md-4" ng-controller="FarmController as farmCtrl">
	<p><h4>Family Farmers. Backyard or community gardeners. If you have local, fresh produce to sell, we have a network of restaurants and consumers who are eager to meet you! </h4></p>
	<button type="" ng-click="new =!new" class="btn btn-default">Join as a local Producer</button>
<form ng-show="new" class="col-md-5" ng-submit="farmCtrl.addProducer(newProducer)">
    <input type="text" ng-model="newProducer.name" class="col-lg-12" placeholder="Name">
    <input type="text" ng-model="newProducer.location" class=" col-lg-12" placeholder="Location">
    <input type="text" ng-model="newProducer.description" class="col-lg-12" placeholder="Description">
    <input type="url" ng-model="newProducer.website" class="col-lg-12" placeholder="website">
    <input type="text" ng-model="newProducer.email" class="col-lg-12" placeholder="email">
  <button type="submit" class="">Register Producer</button>
</form>
</section>


<section class="registerRestaurant col-md-4">
	
	<p><h4>Sometimes it can be hard to tell who is more passionate about food- the chefs who make it or the distinguished consumer. </p>

	<p>Chefs know that the first step tp making great food is getting the freshest ingredients. Join our network to contact local growers directly and get the inside scoop on what is currently available. </p>
	<p>Eating local has never been as popular as it is now. Our consumer network are almost as passionate about local food as you are! Registering with our application will allow consumers to see what you're cooking while continuing to support the local economy and environment by eating locally!</h4></p>
	<button type="" class="btn btn-default">Join as a Cuisinier</button>
<form class="navbar-form navbar-left signUp col-md-5" role="search">
  <div class="form-group">
    <input type="text" class="form-control col-lg-12" placeholder="Name">
    <input type="text" class="form-control col-lg-12" placeholder="Location">
    <input type="text" class="form-control col-lg-12" placeholder="Description">
    <input type="url" class="form-control col-lg-12" placeholder="website">
    <input type="text" class="form-control col-lg-12" placeholder="email">
  </div>
  <button type="submit" class="btn btn-default">Restaurant</button>
</form>
</section>




