<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>
	<div class="col-lg-12 col-md-12 col-sm-12">
	<div class="container splash">
		
		<div class="col-lg-7 col-md-7 col-sm-7 mainSplash">
			<a href="#/restaurant"><img class="col-md-5"src="assets/sassyChef.jpg" alt=""></a>
			<img src="assets/carrots.jpg" class="col-md-7" alt="">
			<img class="col-md-4" src="assets/celery.jpg" alt="" >
			<img class="col-md-8" src="assets/tractor.jpg" alt="">
			<img class="col-md-12"src="assets/cabbage.jpg" alt="">
		</div>
	</div>
	</div>
</body>
</html>