<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>
	<div class="container splash">
		<img id="chef" class="col-md-5"src="assets/sassyChef.jpg" alt="">
		<img src="assets/carrots.jpg"  class="col-md-7" alt="">
		<img src="assets/localProd.jpg" alt="" class="col-md-4">
		<img clss="col-md-3" src="assets/tractor.jpg" alt="">
		<img id="farmer" class="col-md-7" src="assets/farmerBW.jpg" alt="">
		<img src="assets/celery.jpg" alt="" class="col-md-2">
		<img id="veggie" class="col-md-8"src="assets/cabbage.jpg" alt="">
		<img id="other"  class="col-md-4"src="assets/silo.jpg" alt="">
	</div>
</body>
</html>